html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  line-height: inherit;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

.main {
  padding: 0px;
  margin: 0px;
  margin-left: 72px;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(350px, 25%) auto;
}

.menuBox {
  position: absolute;
  z-index: 100;
  left: 1.1vw;
  top: .5vw;
  height: 3vh;
}

.panelBox {
  width: 100%;
  height: 100%;
  background-color: rgba(21, 21, 21, 0.9);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(62%, #ececec), to(#b6bbc2));
  background-image: linear-gradient(180deg, #fff, #ececec 62%, #b6bbc2);
  color: rgb(51, 51, 51);
  font-size: 24px;
}

.panelBox .contentBox {
  max-width: 350px;
  margin: auto;
}

.frameBox {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(51, 51, 51);
  font-size: 24px;
}

.menuMode .panelBox {
  visibility: hidden;
  opacity: 0;
  margin-left: -500px;
  transition: margin-left 600ms ease-out, visibility 0s linear 2s,
    opacity 1s ease-out 100ms;
}

.menuMode .frameBox {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.95s;
}

.panelMode .panelBox {
  visibility: visible;
  opacity: 1;
  margin-left: 0px;
  transition: margin-left 600ms ease-in;
}

.panelMode .frameBox {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1s, opacity 1s ease-out;
}

.frameMode .frameBox {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 1s ease-in;
}

.contentBox {
  padding: 2rem;
}

.menu-profile {
  display: flex;
  height: 100%;
  overflow: hidden;
  margin-left: 3rem;
  position: relative;
  flex-direction: row;
  align-items: center;
}

.menu-profile .ico-currency {
  height: 1.5rem;
  margin-left: 1.5rem;
  margin-right: .15rem;
  margin-top: -1px;
}

.large-caption {
  margin-top: 0;
  font-family: 'Varela Round', sans-serif;
  color: #395070;
  font-size: clamp(1rem, 1vw, 1.5rem);
  line-height: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

h2.large-caption {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: #444;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.large-caption.link-button {
  margin-top: 2rem;
  text-decoration: underline;
}

.large-caption.balance-caption {
  margin-top: 1vw;
  margin-bottom: 0vw;
}

.large-caption.balance {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: clamp(3rem, 4vw, 4rem);
  color: #444;
  line-height: clamp(3rem, 4vw, 4rem);
  margin-bottom: 0.5em;
}

.small-caption {
  margin-bottom: 0.6rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 1;
  color: #6a7d96;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: clamp(.75rem, 1.5vw, 1rem);
  line-height: clamp(.75rem, 1.5vw, 1rem);
}

.menu-profile .small-caption {
  line-height: 1vw;
  margin: 0;
  color: #fff;
}

.small-caption.fine-print {
  margin-bottom: .5rem;
  font-size: clamp(.75rem, 1vw, 1rem);
  text-transform: none;
}

.small-caption.username {
  text-transform: none;
}

label {
  display: block;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 20px;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
  border: 0;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.wui-field {
  display: block;
  margin-bottom: 10px;
}

.field-label {
  display: block;
  color: #395070;
  font-family: 'Varela Round', sans-serif;
  font-weight: 600;
  font-size: clamp(.75rem, 1.5vw, 1.25rem);
  margin-top: 1vw;
  line-height: 1.2vw;
  text-transform: uppercase;
}

.field-hint {
  display: block;
  opacity: 1;
  color: #6a7d96;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: clamp(.5rem, 1vw, .75rem);
  margin-top: .25rem;
  margin-bottom: .25rem;
  line-height: clamp(.5rem, 1vw, .75rem);
  letter-spacing: 0.05vw;
  text-transform: none;
}

.field-cntrl {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 3px;
  font-size: clamp(.75rem, 1vw, 1rem);
}

.field-cntrl:focus {
  border: solid 2px darkslategray;
  border-radius: 10px;
}

.balance-input {
  position: relative;
}

.balance-input input {
  padding-left: 35px;
}

.balance-input input:focus {
  outline-color: transparent;
}

.balance-input::before {
  content: "$";
  position: absolute;
  height: 100%;
  background: lightgray;
  width: 25px;
  top: 0px;
  padding: 12px 4px 4px 7px;
  border-radius: 5px 0px 0px 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  line-height: 1vw;
}

.wui-actions {
  display: block;
}

.action {
  display: block;
  position: relative;
  width: 100%;
  min-height: 45px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e1e3e6));
  background-image: linear-gradient(180deg, #fff, #e1e3e6);
  box-shadow: 0 5px 8px 0 #cfd2d8;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  box-shadow: 0 5px 8px 0 #cfd2d8;
  border-radius: .25rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #395070;
  margin-top: 0;
  margin-bottom: .5rem;
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 0px;
  font-family: 'Varela Round', sans-serif;
  font-size: clamp(1rem, 1vw, 2rem);
  line-height: clamp(1rem, 1vw, 2rem);
  font-weight: 600;
}

.action:disabled {
  color: #999;
}

.action:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#fff));
  background-image: linear-gradient(180deg, #d4d4d4, #fff);
  text-decoration: none;
}

.action:not(:disabled):active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b9fcbd), to(#65b86c));
  background-image: linear-gradient(180deg, #b9fcbd, #65b86c);
  text-decoration: none;
}

.action:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9ccc9f), to(#57a95e));
  background-image: linear-gradient(180deg, #9ccc9f, #57a95e);
  text-decoration: none;
}

.action.primary {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9ccc9f), to(#57a95e));
  background-image: linear-gradient(180deg, #9ccc9f, #57a95e);
  color: #fff;
}

.action.primary:disabled {
  color: #cfcfcf;
}

.action.featured {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.action.icon:before {
  content: '';
  position: absolute;
  left: 10%;
  top: auto;
  right: auto;
  bottom: auto;
  width: 10%;
  height: 40%;
  background-color: transparent;
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.action.ico-cashin:before {
  background-image: url(../images/ico-cashin.png);
}

.action.ico-cashout:before {
  background-image: url(../images/ico-cashout.png);
}

.action.ico-signin:before {
  background-image: url(../images/ico-signout.png);
}

.action.ico-signout:before {
  background-image: url(../images/ico-signout.png);
}

.errorPanel {
  width: 100%;
  background-color: mistyrose;
  border: solid 2px red;
  color: red;
  font-size: 1vw;
  border-radius: 4px;
  margin-bottom: 10px;
  letter-spacing: 0.05vw;
}

.errorPanel p {
  padding: 0vw 1vw 0vw 1vw;
}

.menu-button {
  position: absolute;
  width: 3vh;
  height: 3vh;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  margin-top: .2vh;
  /* border: 3px solid #fff; */
}

.menu-button_icon {
  width: 100%;
  margin-top: 11px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(221, 210, 240, 0.2);
  transition: all 0.4s ease-in-out;
  transform: rotate(-45deg);
}

.menu-button_icon::before,
.menu-button_icon::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.4s ease-in-out;
  width: 50%;
  margin-left: 25%;
}

.menu-button_icon::before {
  transform: translateY(-10px);
}

.menu-button_icon::after {
  transform: translateY(10px);
}

.menu-button:hover .menu-button_icon {
  transform: rotate(0);
  transition: all 0.4s ease-in;
}

.menu-button:hover .menu-button_icon::before,
.menu-button:hover .menu-button_icon::after {
  transition: all 0.4s ease-in;
  width: 100%;
  margin-left: 0;
}

/* ANIMATION */
.menu-button.open .menu-button_icon {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-button.open .menu-button_icon::before,
.menu-button.open .menu-button_icon::after {
  width: 100%;
  margin-left: 0;
}

.menu-button.open .menu-button_icon::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: rgba(0, 0, 0, 0.9);
}

.menu-button.open .menu-button_icon::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: rgba(0, 0, 0, 0.9);
}

.menu-button.open+.menu-profile * {
  visibility: hidden;
}

.quick-set {
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 4%;
}

.terms {
  position: relative;
  margin-top: 1rem;
  min-height: 2.5rem;
  margin-bottom: 1rem;
}

.terms input {
  display: none;
}

.terms label div {
  width: 2rem;
  height: 2rem;
  display: block;
  border: 2px solid #999;
  text-align: center;
  line-height: 2rem;
  margin-right: 6px;
  border-radius: 3px;
  cursor: pointer;
  float: left;
  background-color: #cfcfcf;
  overflow: hidden;
}

.terms label i {
  font-size: 2rem;
  opacity: 0;
}

.terms label:hover div {
  background: #fff;
}

.terms input:checked+label div {
  background: #fff;
}

.terms input:checked+label i {
  opacity: 1;
  font-size: 2rem;
  color: #57a95e;
  background: #fff;
}

.terms .small-caption {
  margin-top: 0.3vh;
  letter-spacing: 0.05vw;
  text-transform: none;
  display: inline-block;
  text-align: left;
  position: absolute;
}

.terms a.link {
  display: inline;
}

#webcashier * {
  font-family: 'Varela Round', sans-serif;
  font-weight: normal;
}

#webcashier [data-gidx] .fa {
  font-family: FontAwesome
}

@media screen and (max-width: 991px) {
  .main {
    margin-left: 0px;
    grid-template-columns: 100%;
    min-height: auto;
  }

  .frameBox,
  .panelBox {
    font-size: 20px;
  }
}

/***************************************************************
FIX fyx-data-explorer styles
****************************************************************/
[data-gidx] .tForm .form-group .checkbox {
  min-height: 27px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 7px 0 0 0;
  margin-left: 20px;
  position: relative;
  display: block;

  width: auto;
  height: auto;
  border-style: none;
  border-width: 0;
  border-color: none;
  background-color: none;
  color: rgb(51, 51, 51);
}

[data-gidx] {
  line-height: initial;
  text-transform: none;
}

.nav-link.condensed .badge.empty {
  display: none;
}

.nav-link.condensed .condensed {
  display: none;
}